body {
	overflow-x: hidden;
}

#error {
  margin-top: 1rem;
	color: #ff0000;
	width: max-content;
	padding: 1rem;
	background: rgba(197, 25, 25, 0.25);
	border-radius: 10px;
	border: 2px solid #ff0000;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
}

#success {
  margin-top: 1rem;
	color: #2bff00;
	width: max-content;
	padding: 1rem;
	background: rgba(25, 197, 25, 0.25);
	border-radius: 10px;
	border: 2px solid #2bff00;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
}


#container {
	height: calc(100vh - 10vw - 70px);
	width: calc(90vw);
	display: flex;
	flex-direction: row;
	margin: calc(10vw - 70px) 0 0 10vw;
}

#presentation-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 45vw;
	margin-right: calc(7.5vw);
	box-shadow: inset 4px 4px 5px #8a8a8a, 4px 4px 5px #8a8a8a;
	border-radius: 15px;
	height: calc(100vh - 10vw - 70px);
}

#display {
	margin-top: 2.5vw;
	height: 50%;
	/* width: calc(100% - 5vw); */
}

#presentation-container hr {
	margin: auto;
	background: #000;
	height: 2px;
	width: 80%;
}

#current-presentation {
	box-shadow: inset 4px 4px 5px #8a8a8a, 4px 4px 5px #8a8a8a;
}

#images-container {
	overflow: auto;
	width: calc(100% - 5vw);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#images-container img {
	margin-bottom: 2.5vw;
	margin-right: 2rem;
	background: #8a8a8a40;
	border-radius: 5px;
	width: calc((100% - 9vw) / 4);
}

#information-container {
	display: flex;
	flex-direction: column;
	width: 32.5vw;
}

#text-container, #prices {
	height: min-content;
	display: flex;
	flex-direction: row;
}

#text-container, #prices, #information-container > #name, #information-container > #price {
	margin-bottom: 1rem;
}

#name, #promo {
	width: 50%;
	height: min-content;
}

#promo, #promo-price {
	color: #ff9500;
	font-weight: 600;
}

#promo {
	text-align: right;
}

#type {
	margin: .5rem 0;
	color: #6F6F6F;
}

#prices #price {
	margin-left: 1rem;
	text-decoration: line-through;
}

#other-items {
	overflow: auto;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: row;
	/* justify-content: ; */
}

#other-items .container-link {
	padding-right: 2rem;
	min-width: calc((100% - 9vw) / 4);
	width: calc((100% - 9vw) / 4);
}

#other-items .container-link.last {
	padding-right: calc(2rem - .5rem - 4px);
}

#other-items img {
	border-radius: 5px;
	background: #8a8a8a40;
	padding: .25rem;
	width: 100%;
}

.current-item {
	box-shadow: inset 4px 4px 5px #8a8a8a, 4px 4px 5px #8a8a8a;
}

#add-item {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

fieldset {
	border: none;
}

legend {
	margin-bottom: calc(8vw / 10);
}

#input-container {
	display: grid;
	grid-template-columns: repeat(6, calc((32.5vw - 8vw) / 6));
	gap: calc(8vw / 10) calc(8vw / 5);
	width: 32.5vw;
}

#input-container div {
	height: calc((32.5vw - 10vw) / 6);
}

#input-container input {
	display: none;
}

label {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #8a8a8a40;
}

input:checked ~ label {
	box-shadow: inset 4px 4px 5px #8a8a8a, inset -4px -4px 5px #8a8a8a;
}

input:disabled ~ label {
	background: #7a7a7a80;
	color: #00000040;
	text-decoration: line-through;
}

#add {
	border: #000 2px solid;
	border-radius: 15px;
	padding: 1vw;
	align-self: center;
	margin-top: auto;
	width: max-content;
	animation: add-button-idle .1s both;
}

#add:active {
	animation: add-button-active .1s both;
}

@keyframes add-button-active {
	from {
		box-shadow: none;
	}

	to {
		border: #8a8a8a40 2px solid;
		box-shadow: inset 4px 4px 5px #8a8a8a;
	}
}

@keyframes add-button-idle {
	from {
		border: #8a8a8a40 2px solid;
		box-shadow: inset 4px 4px 5px #8a8a8a;
	}

	to {
		border: #000 2px solid;
		box-shadow: none;
	}
}